/* GERAL */
* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/retangulo.png');
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* FONTS */
h1 {
    color: #5D1277;   
    font-size: 35px;
}

h2 {
    color: #4F4F4F;
    font-size: 25px;
}

/* SEÇÃO SOBRE */
.secao-sobre {
    background-color: white;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.sobre-conteudo__img {
    margin-top: 80px;
<<<<<<< HEAD
    width: 100;
    max-width: 233;
=======
    width: 100%;
    max-width: 230px;
>>>>>>> c031336e142a3bdb31239fc9866fdbb6386b4a41
}  
    
.sobre-conteudo {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.sobre-conteudo__redes-sociais {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 90px;
}

.sobre-conteudo__redes-sociais img {
    width: 87px;
    height: 86px;
    margin-left: 40px;
}

<<<<<<< HEAD
/*Media query @ media = a midia , screen+ que tem tela, and max width+ que tenham o tamanho maximo=*/
@media (max-width:370px) and (max-width: 320px) {
    .sobre-conteudo__img{
        width: 160px;
        }/* Media queries */
@media screen and (max-width: 800px) {
    .sobre-conteudo, .sobre-imagem {
        width: 100%;
    }

    h1, h2, p {
        text-align: center;
    }

    p {
        max-width: 430px;
        margin: 0 auto 110px auto;
    }

    .sobre-conteudo__botoes {
        text-align: center;
    }

    img {
        width: 100%;
    }
}
=======
/* Media Query */
@media screen and (max-width: 400px) {
    h1 {
        font-size: 30px;
    }
}

/* Media Query - Breakpoints
    350px
    420px
    768px
    1024px
    1200px
    1920px
*/
>>>>>>> c031336e142a3bdb31239fc9866fdbb6386b4a41
